services:
    wireguard:
        image: "ghcr.io/wg-easy/wg-easy:${IMAGE_TAG:-latest}"
        container_name: ${SERVICE_NAME}
        restart: unless-stopped
        network_mode: host

        environment:
            - TZ=${TIMEZONE}
            - INSECURE=${NO_PROXY}
            - HOST=${UI_HOST}
            - PORT=${UI_PORT}
            - INIT_ENABLED=${UNATTENDED}
            - INIT_USERNAME=${USERNAME}
            - INIT_PASSWORD=${PASSWORD}
            - INIT_HOST=${HOST}
            - INIT_PORT=${PORT}
            - INIT_DNS=${DNS}
            - INIT_IPV4_CIDR=${SUBNET_IPV4}
            - INIT_IPV6_CIDR=${SUBNET_IPV6}

        cap_add:
            - NET_ADMIN
            - SYS_MODULE

        volumes:
            - /srv/${SERVICE_NAME}/:/etc/wireguard
            - /lib/modules:/lib/modules:ro
