services:
    tor-obfs4-bridge:
        image: "thetorproject/obfs4-bridge:${IMAGE_TAG:-latest}"
        container_name: ${SERVICE_NAME}
        restart: unless-stopped
        network_mode: host

        environment:
            - TZ=${TIMEZONE}
            - OR_PORT=${OR_PORT}
            - PT_PORT=${PT_PORT}
            - EMAIL=${EMAIL}
            - NICKNAME=${NICKNAME}
            - OBFS4_ENABLE_ADDITIONAL_VARIABLES=${ENABLE_ADDITIONAL_VARIABLES}
            - OBFS4V_PublishServerDescriptor=${PUBLISH_SERVER_DESCRIPTOR}
            - OBFS4V_BridgeDistribution=${BRIDGE_DISTRIBUTION}
            - OBFS4V_ExitRelay=${EXIT_RELAY}

        volumes:
            - /srv/${SERVICE_NAME}/data:/data
