services:
    tor-obfs4-bridge:
        image: "thetorproject/obfs4-bridge:${IMAGE_TAG:-latest}"
        container_name: ${SERVICE_NAME}
        restart: unless-stopped

        environment:
            - OR_PORT=${OR_PORT}
            - PT_PORT=${PT_PORT}
            - EMAIL=${EMAIL}
            - NICKNAME=${NICKNAME}
            - OBFS4_ENABLE_ADDITIONAL_VARIABLES=${ENABLE_ADDITIONAL_VARIABLES}
            - OBFS4V_PublishServerDescriptor=${PUBLISH_SERVER_DESCRIPTOR}
            - OBFS4V_BridgeDistribution=${BRIDGE_DISTRIBUTION}
            - OBFS4V_ExitRelay=${EXIT_RELAY}

        ports:
            - ${OR_PORT}:${OR_PORT}/tcp
            - ${OR_PORT}:${OR_PORT}/udp
            - ${PT_PORT}:${PT_PORT}/tcp
            - ${PT_PORT}:${PT_PORT}/udp

        volumes:
            - /srv/${SERVICE_NAME}/data:/data

        networks:
            - obfs4_bridge_external_network

networks:
    obfs4_bridge_external_network:
